@use "reset";

$pink: hsl(322, 100%, 66%);
$light-pink: hsl(321, 100%, 78%);
$light-red: hsl(0, 100%, 63%);
$very-dark-cyan: hsl(192, 100%, 9%);
$very-pale-blue: hsl(207, 100%, 98%);

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

.btn-pink {
  color: $pink;
  border: 1px solid $pink;
  border-radius: 3rem;
  width: 9rem;
  height: 2.5rem;

  &:hover {
    background-color: hsl(0, 0%, 100%);
    color: $light-pink;
    border: 1px solid $light-pink;
  }
}

.btn-lg-pink {
  border-radius: 4rem;
  width: 25rem;
  height: 5rem;
  background-color: $pink;
  font-size: 1.25rem;
  margin-bottom: 6.5rem;

  &:hover {
    background-color: $light-pink;
    color: hsl(0, 0%, 100%);
  }
}

.container {
  max-width: 100%;
}

.container-1 {
  padding: 0 9.5rem;
}

.description {
  padding: 0 12.5rem;
  font-size: 1.25rem;
}

.navbar {
  margin-bottom: 15rem;
}
