@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

#root,
#__next {
  isolation: isolate;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: "Poppins", sans-serif;
}

.attribution {
  font-size: 1rem;
  margin-top: auto;
}
.attribution a {
  color: #f5faff;
}

.bg-bottom-1 {
  height: 10rem;
  background: url("../images/bg-section-bottom-desktop-1.svg");
  background-repeat: round;
}

.bg-bottom-2 {
  height: 10rem;
  background: url("../images/bg-section-bottom-desktop-2.svg");
  background-repeat: round;
}

.bg-footer {
  height: 10rem;
  background: url("../images/bg-footer-top-desktop.svg");
  background-repeat: round;
}

.bg-top-1 {
  height: 10rem;
  background: url("../images/bg-section-top-desktop-1.svg");
  background-repeat: round;
}

.bg-top-2 {
  height: 10rem;
  background: url("../images/bg-section-top-desktop-2.svg");
  background-repeat: round;
}

.btn-pink {
  color: #ff52bf;
  border: 1px solid #ff52bf;
  border-radius: 3rem;
  width: 9rem;
  height: 2.5rem;
}
.btn-pink:hover {
  background-color: white;
  color: #ff8fd8;
  border: 1px solid #ff8fd8;
}

.btn-lg-pink {
  border-radius: 4rem;
  width: 25rem;
  height: 5rem;
  background-color: #ff52bf;
  font-size: 1.25rem;
  margin-bottom: 6.5rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px, rgba(0, 0, 0, 0.07) 0 2px 2px, rgba(0, 0, 0, 0.07) 0 4px 4px, rgba(0, 0, 0, 0.07) 0 8px 8px, rgba(0, 0, 0, 0.07) 0 16px 16px;
  border-color: transparent !important;
}
.btn-lg-pink:hover {
  background-color: #ff8fd8;
  color: white;
}

.btn-subscribe {
  background-color: #ff52bf;
  color: white;
}
.btn-subscribe:hover {
  color: #f5faff;
}

.container {
  max-width: 100%;
}

.container-1 {
  padding: 0 9.5rem;
}

.container-2 {
  background-color: #f5faff;
  padding: 4rem 8rem;
}

.container-3 {
  padding: 4rem 8rem;
  margin: 8rem 0 4rem;
}

.container-4 {
  padding: 4rem 8rem;
  background-color: #f5faff;
}

.container-5 {
  margin-top: 10rem;
}

.container-footer {
  background-color: #00252e;
  color: #f5faff;
  padding: 8rem 8rem 7rem;
}

.description {
  padding: 0 12.5rem;
  font-size: 1.25rem;
}

.display-count {
  font-size: 6rem;
}

.display-text {
  font-size: 1.6rem;
}

.footer-col-left {
  padding-right: 15rem;
}
.footer-col-left p {
  font-size: 0.9rem;
}

.footer-col-right {
  padding-left: 5rem;
}

.navbar {
  margin-bottom: 15rem;
}

.newsletter {
  font-size: 1.6em;
}

.newsletter-d {
  font-size: 0.95em;
  padding-right: 9rem;
}

@media (max-width: 600px) {
  .container-1 {
    padding: 0;
  }

  .description {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
