@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

#root,
#__next {
  isolation: isolate;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: "Poppins", sans-serif;
}

.attribution {
  font-size: 1rem;
  margin-top: auto;
}
.attribution a {
  color: #f5faff;
}

.bg-bottom-1 {
  height: 10rem;
  background: url("../images/bg-section-bottom-desktop-1.svg");
  background-repeat: round;
}

.bg-bottom-2 {
  height: 10rem;
  background: url("../images/bg-section-bottom-desktop-2.svg");
  background-repeat: round;
}

.bg-footer {
  height: 10rem;
  background: url("../images/bg-footer-top-desktop.svg");
  background-repeat: round;
}

.bg-top-1 {
  height: 10rem;
  background: url("../images/bg-section-top-desktop-1.svg");
  background-repeat: round;
}

.bg-top-2 {
  height: 10rem;
  background: url("../images/bg-section-top-desktop-2.svg");
  background-repeat: round;
}

.btn-pink {
  color: #ff52bf;
  border: 1px solid #ff52bf;
  border-radius: 3rem;
  width: 9rem;
  height: 2.5rem;
}
.btn-pink:hover {
  background-color: white;
  color: #ff8fd8;
  border: 1px solid #ff8fd8;
}

.btn-lg-pink {
  border-radius: 4rem;
  width: 25rem;
  height: 5rem;
  background-color: #ff52bf;
  font-size: 1.25rem;
  margin-bottom: 6.5rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px, rgba(0, 0, 0, 0.07) 0 2px 2px, rgba(0, 0, 0, 0.07) 0 4px 4px, rgba(0, 0, 0, 0.07) 0 8px 8px, rgba(0, 0, 0, 0.07) 0 16px 16px;
  border-color: transparent !important;
}
.btn-lg-pink:hover {
  background-color: #ff8fd8;
  color: white;
}

.container {
  max-width: 100%;
}

.container-1 {
  padding: 0 12.5rem;
}

.container-2 {
  background-color: #f5faff;
  padding: 4rem 8rem;
}

.container-3 {
  padding: 4rem 8rem;
  margin: 8rem 0 4rem;
}

.container-4 {
  background-color: #f5faff;
  padding: 4rem 8rem;
}

.container-5 {
  margin-top: 10rem;
}

.container-footer {
  background-color: #00252e;
  color: #f5faff;
  padding: 8rem 8rem 7rem;
}

.description {
  padding: 0 12.5rem;
  font-size: 1.25rem;
}

.display-count {
  font-size: 6rem;
}

.display-text {
  font-size: 1.6rem;
  color: gray;
}

.footer-col-left {
  padding-right: 15rem;
}
.footer-col-left p {
  font-size: 0.9rem;
}

.footer-col-right {
  padding-left: 5rem;
}

.navbar {
  margin-bottom: 15rem;
}

.newsletter {
  font-size: 1.6em;
}

.newsletter-d {
  font-size: 0.95em;
  padding-right: 9rem;
}

.social-icons {
  gap: 1.6rem;
}
.social-icons a {
  color: #f5faff;
}
.social-icons a:hover {
  color: aqua;
}

.stats {
  margin: 8rem 0;
}

.subscribe-container {
  position: relative;
}
.subscribe-container button {
  background-color: #ff52bf;
  color: white;
  width: 13rem;
  font-size: 0.95rem;
}
.subscribe-container button:hover {
  color: #f5faff;
  background-color: #ff8fd8;
}
.subscribe-container .error {
  position: absolute;
  bottom: -2.75rem;
  font-size: 0.85rem;
  color: #db143c;
  visibility: hidden;
}

@media (max-width: 600px) {
  .bg-bottom-1 {
    height: 5rem;
    background: url("../images/bg-section-bottom-mobile-1.svg");
    background-repeat: no-repeat;
  }

  .bg-bottom-2 {
    height: 7rem;
    background: url("../images/bg-section-bottom-mobile-2.svg");
    background-repeat: no-repeat;
  }

  .bg-footer {
    height: 3rem;
    background: url("../images/bg-footer-top-desktop.svg");
    background-repeat: round;
  }

  .bg-top-1 {
    height: 7rem;
    background: url("../images/bg-section-top-mobile-1.svg");
    background-repeat: no-repeat;
  }

  .bg-top-2 {
    height: 6rem;
    background: url("../images/bg-section-top-mobile-2.svg");
    background-repeat: no-repeat;
  }

  .btn-lg-pink {
    width: 13rem;
    height: 2.5rem;
    font-size: 0.85rem;
  }

  .btn-pink {
    height: 1.6rem;
    width: 5.5rem;
    font-size: 0.7rem;
    padding: 0;
  }

  .container-1 {
    padding: 0 2rem;
  }
  .container-1 h1 {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  .container-1 .description {
    font-size: 0.9rem;
    padding: 0;
  }
  .container-1 .display-count {
    font-size: 4rem;
    margin-bottom: 0;
  }
  .container-1 .display-text {
    font-size: 1.1rem;
  }
  .container-1 .stats {
    gap: 6rem;
  }
  .container-1 .stats-icon {
    width: 2rem;
    height: auto;
  }

  .container-2,
.container-3,
.container-4 {
    padding: 4rem 2rem;
  }
  .container-2 h2,
.container-3 h2,
.container-4 h2 {
    font-size: 1.45rem;
  }
  .container-2 p,
.container-3 p,
.container-4 p {
    font-size: 0.85rem;
  }

  .container-5 {
    margin-top: 5rem;
  }
  .container-5 h2 {
    font-size: 1.5rem;
  }

  .container-footer {
    padding: 4rem 1.5rem;
  }
  .container-footer button {
    width: 8rem;
  }
  .container-footer .footer-col-left,
.container-footer .footer-col-right {
    padding: 0;
  }
  .container-footer .newsletter-d {
    padding: 0;
  }

  .logo {
    width: 7rem;
    height: auto;
  }

  .navbar {
    margin-bottom: 7.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
